@model string?
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>Перевірка даних в сесії</h1>
<h2>@(Model is not null ? Model : "Дані не встановлені")</h2>